/*公共css*/

body,html{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
	overflow-x: hidden;
}

a{
  text-decoration:none;
}

.marg-top-15{
  margin-top: 15px;
}
.marg-top-30{
  margin-top: 30px;
}

/*header*/
.el-header {
  color: #333;
  text-align: center;
  line-height: 60px;
	height: 60px!important;
}

@media screen and (max-width: 1366px) {
	.el-header {
	  color: #333;
	  text-align: center;
	  line-height: 60px;
		height: 60px!important;
	}
	#myChart_wuhuMap {
		width: 100%; height: 600px;
	}
	#Chart_2,#Chart_3 {
		width: 100%;height: 300px;
	}
	.basic_1 {
		width: 320px;height: 250px; margin: auto;background-color: #F3F3F3;
	}
	.basic_2 {
		width: 450px;height: 350px; margin: auto;
	}
	.model_1 {
		width: 800px;
		height: 300px;
		background-color: #F3F3F3;
		margin: 0 50px;
	}
	.model_2 {
		width: 800px;
		height: 400px;
		background-color: #F3F3F3;
		margin: 0 50px;
	}
		
}

@media screen and (min-width: 1460px) {
	.el-header {
	  color: #333;
	  text-align: center;
	  line-height: 90px;
		height: 90px!important;
	}
	#myChart_wuhuMap {
		width: 100%; height: 800px;
	}
	#Chart_2,#Chart_3 {
		width: 100%;height: 400px;
	}
	.basic_1 {
		width: 600px;height: 360px; margin: auto;background-color: #F3F3F3;
	}
	.basic_2 {
		width: 600px;height: 420px; margin: auto;
	}
	.model_1 {
		width: 1000px;
		height: 400px;
		background-color: #F3F3F3;
		margin: 0 50px;
	}
	.model_2 {
		width: 1000px;
		height: 600px;
		background-color: #F3F3F3;
		margin: 0 50px;
	}
}


/*main*/
.el-main {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 !important;
  overflow: inherit;
}

/*footer*/
.el-footer{
  text-align: center;
  background-color: #378BCB;
  color: #fff;
  height: 100% !important;
}

/*搜索按钮*/
.search_btn .el-button--primary {
  color: #fff !important;
  background-color: #409EFF !important;
  border-color: #409EFF !important;
  border-radius: 0 !important;
}

.el-button {
	padding: 8px 20px;
}
.el-input__inner {
	height: 30px;
	line-height: 30px;
}

.el-input-group {
    line-height: normal;
    display: inline-table;
    width: 80%;
    border-collapse: separate;
}
.el-menu--horizontal {
    border-right: none;
    border-bottom: none!important;
}

/*黑色页面的ul*/
.black-ul{
  list-style: none;
  margin: 0;
}
.black-ul li{
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 15px;
  padding: 5px;
}
.black-ul li a{
  color: #fff;
  display: block;
}

.active_li{
  background-color: #fff !important;
  color: #000 !important;
}
.active_li a{
  color: #000 !important;
}

